<div class="recipes-container">
  <div class="recipe-card" *ngFor="let recipe of recipes">
    <button (click)="toggleFavorite(recipe)" class="favorite-button">
      <i [ngClass]="recipe.isFavorite ? 'fas fa-star' : 'far fa-star'"></i>
    </button>
    <div class="recipe-image">
      <img appImgBroken [src]="recipe.imagePath" alt="{{ recipe.name }}">
    </div>
    <div class="recipe-content">
      <h3>{{ recipe.name }}</h3>
      <div class="recipe-actions">
        <button (click)="openRecipeDetail(recipe)" class="edit-button">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button (click)="removeRecipe(recipe._id!)" class="delete-button">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<app-recipe-detail *ngIf="selectedRecipe" [recipe]="selectedRecipe" (close)="closeRecipeDetail()" (save)="updateRecipe($event)"></app-recipe-detail>
