.edit-button,
.edit-button-alt,
.delete-button,
.delete-button-alt {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

.edit-button-alt:hover,
.delete-button-alt:hover{
  background-color: rgba(99, 96, 96, 0.1);
  border-radius: 20%;
}

.fa-pencil-alt {
  color: var(--color-3);
}

.fa-pencil {
  color: var(--color-4);
}

.delete-button:hover,
.edit-button:hover{
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 20%;
}

.delete-button .fa-trash,
.delete-button-alt .fa-trash {
  color: red; /* Usa un color adecuado para el icono de eliminación */
}
