<div class="layout">
  <header class="header">
    <div class="header-container">
      <div class="logo">
        <p>MyApp</p>
      </div>
      <div class="session-icon">
        <i class="uil uil-user-circle"></i>
        <div class="dropdown">
          <button class="logout-button">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </header>
  <div class="sidebar">
      <ul class="sidebar__list">
        <li class="sidebar__list_item" *ngFor="let item of mainMenu" [routerLink]="item.router">
          <span class="sidebar__list_item_name">{{item.name}}</span>
        </li>
      </ul>
  </div>
  <main class="content">
  </main>
</div>
